/* $border-color: #333; */
/* $bg-color: #fff;
50px: 50px;
$cactus-color: red; */

.game {
  width: 600px;
  height: 200px;
  border: 2px solid #333;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  background: #fff;

  .dino {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50px;
  }

  .cactus {
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 600px;
    animation: moveCactus 2s linear infinite;
  }

  .score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
  }

  @keyframes moveCactus {
    from {
      left: 600px;
    }
    to {
      left: -20px;
    }
  }
}


.game {
  position: relative;
  width: 600px;
  height: 200px;
  margin: 100px auto;
  overflow: hidden;
  border: 2px solid #333;
  background: #cceffc; /* Light sky */
}

/* Ground bar */
.ground {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Cloud base style */
.cloud {
  position: absolute;
  width: 80px;
  height: 40px;
  background: #fff;
  border-radius: 50px;
  opacity: 0.7;
  animation: moveCloud 30s linear infinite;
}

.cloud::before,
.cloud::after {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 50%;
}

.cloud::before {
  width: 40px;
  height: 40px;
  top: -10px;
  left: 10px;
}

.cloud::after {
  width: 30px;
  height: 30px;
  top: 0;
  left: 40px;
}

/* Different starting positions */
.cloud1 {
  top: 20px;
  left: 100%;
  animation-delay: 0s;
}

.cloud2 {
  top: 60px;
  left: 150%;
  animation-delay: 10s;
}

/* Cloud movement */
@keyframes moveCloud {
  0% {
    left: 100%;
  }
  100% {
    left: -100px;
  }
}


.mountains {
  position: absolute;
  bottom: 0px; /* just above ground */
  width: 100%;
  height: 100px;
  pointer-events: none;
}

/* Common mountain styles */
.mountain {
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 100px;
  background: #99b3cc; /* mountain color */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  opacity: 0.8;
}

.mountain1 {
  left: 100px;
  height: 90px;
  width: 120px;
  background: #89aacc;
}

.mountain2 {
  left: 300px;
  height: 50px;
  width: 50px;
  background: #7799bb;
}


.tree {
  position: absolute;
  bottom: 0px; /* sit on ground */
  width: 10px;
  height: 20px;
  background: #3e6131; /* Tree trunk color */
  animation: moveTree 12s linear infinite;
  z-index: 0;
}

/* Tree foliage (just using ::before) */
.tree::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: -10px;
  width: 30px;
  height: 25px;
  background: #4caf50;
  border-radius: 50%;
  z-index: -1;
}

/* Individual tree positions */
.tree1 {
  left: 50%;
  animation-delay: 0s;
}
.tree2 {
  left: 100%;
  animation-delay: 5s;
}
.tree3 {
  left: 150%;
  animation-delay: 10s;
}

/* Tree movement animation */
@keyframes moveTree {
  0% {
    left: 100%;
  }
  100% {
    left: -40px;
  }
}


.bumpy-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  overflow: hidden;
}

.bumpy-svg {
  position: absolute;
  width: 200%; /* double width for seamless scroll */
  height: 100%;
  animation: moveBumps 10s linear infinite;
}

.bumpy-path {
  fill: #888;
}

@keyframes moveBumps {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
